# WeAct Studio MiniSTM32H750 board configuration

# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_MINI_STM32H750

if DISPLAY

config INPUT
	default y

if LVGL

configdefault LV_COLOR_16_SWAP
	default y

config LV_Z_BITS_PER_PIXEL
	default 16

endif # LVGL

endif # DISPLAY

endif # BOARD_MINI_STM32H750
