# Seeeduino Wio Terminal configuration

# Copyright (c) 2021 Harry Jiang
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "seeeduino_wio_terminal"
	depends on BOARD_SEEEDUINO_WIO_TERMINAL
