# Copyright (c) 2024 TOKITA Hiroshi
# SPDX-License-Identifier: Apache-2.0

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BOARD_M5STACK_DINMETER_ESP32S3_PROCPU
	default 256 if BOARD_M5STACK_DINMETER_ESP32S3_APPCPU
