# Copyright (c) 2025 Harry Jiang
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32S3_TOUCH_LCD_2_8
	select SOC_ESP32S3_R8
	select SOC_ESP32S3_PROCPU if BOARD_ESP32S3_TOUCH_LCD_2_8_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ESP32S3_TOUCH_LCD_2_8_ESP32S3_APPCPU 
