/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <espressif/esp32s3/esp32s3.dtsi>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/battery/battery.h>
#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <espressif/partitions_0x0_amp_16M.dtsi>
#include "esp32s3_touch_lcd_2_8b-pinctrl.dtsi"

/ {
	model = "ESP32-S3-Touch-LCD-2.8B PROCPU";
	compatible = "waveshare,esp32-s3-touch-lcd-2.8b";

	aliases {
		accel0 = &qmi8658;
		fuel-gauge0 = &fuel_gauge;
		i2c-0 = &i2c0;
		pwm-0 = &ledc0;
		pwm-lcd0 = &pwm_lcd0;
		rtc = &rtc0;
		sw0 = &button0;
		uart-0 = &uart0;
		watchdog0 = &wdt0;
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
		zephyr,display = &lcd_cam_rgb;
		zephyr,touch = &gt911;
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_lcd0: pwm_lcd0 {
			pwms = <&ledc0 0 PWM_KHZ(20) PWM_POLARITY_NORMAL>;
			label = "LCD backlight";
		};
	};

	vbatt: vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc0 3>;
		output-ohms = <100000>;
		full-ohms = <(200000 + 100000)>;
		skip-calibration; /* ESP32 ADC does not support calibration */
	};

	/*
	 * Enable this node for battery state-of-charge estimation based on the
	 * battery voltage. Adapt the capacity to the battery in use.
	 */
	fuel_gauge: fuel_gauge {
		status = "disabled";
		compatible = "zephyr,fuel-gauge-composite";
		source-primary = <&vbatt>;
		device-chemistry = "lithium-ion-polymer";
		ocv-capacity-table-0 = <BATTERY_OCV_CURVE_LITHIUM_ION_POLYMER_DEFAULT>;
		charge-full-design-microamp-hours = <1000000>;
	};

	/* ST7701S register setup over 3-wire SPI, the pixels go over RGB */
	mipi_dbi_lcd: mipi_dbi_lcd {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		reset-gpios = <&exio 0 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7701: st7701@0 {
			compatible = "sitronix,st7701";
			reg = <0>;
			mipi-max-frequency = <DT_FREQ_M(2)>;
			mipi-mode = "MIPI_DBI_MODE_SPI_3WIRE";
			width = <480>;
			height = <640>;
			pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
			bk3-ef = [ef 08];
			lneset = [c0 4f 00];
			porctrl = [c1 10 02];
			invsel = [c2 07 02];
			cc-control = [cc 10];
			pvgamctrl = [b0 00 10 17 0d 11 06 05 08 07 1f 04 11 0e 29 30 1f];
			nvgamctrl = [b1 00 0d 14 0e 11 06 04 08 08 20 05 13 13 26 30 1f];
			vrhs = <0x65>;
			vcom = <0x71>;
			vghss = <0x82>;
			vgls = <0x42>;
			pwctlr1 = <0x85>;
			pwctlr2 = <0x20>;
			bk1-c0 = <0x09>;
			spd1 = <0x78>;
			spd2 = <0x78>;
			mipiset1 = <0x88>;
			bk1-ee = <0x42>;
			gip-e0 = [e0 00 00 02];
			gip-e1 = [e1 04 a0 06 a0 05 a0 07 a0 00 44 44];
			gip-e2 = [e2 00 00 00 00 00 00 00 00 00 00 00 00];
			gip-e3 = [e3 00 00 22 22];
			gip-e4 = [e4 44 44];
			gip-e5 = [e5 0c 90 a0 a0 0e 92 a0 a0 08 8c a0 a0 0a 8e a0 a0];
			gip-e6 = [e6 00 00 22 22];
			gip-e7 = [e7 44 44];
			gip-e8 = [e8 0d 91 a0 a0 0f 93 a0 a0 09 8d a0 a0 0b 8f a0 a0];
			gip-eb = [eb 00 00 e4 e4 44 00 40];
			gip-ed = [ed ff f5 47 6f 0b a1 ab ff ff ba 1a b0 f6 74 5f ff];
			gip-ef = [ef 08 08 08 40 3f 64];
			bk3-e6 = [e6 16 7c];
			bk3-e8 = [e8 00 0e];
		};
	};
};

&flash0 {
	reg = <0x0 DT_SIZE_M(16)>;
	ranges = <0x0 0x0 DT_SIZE_M(16)>;
};

&psram0 {
	size = <DT_SIZE_M(8)>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	/*
	 * P0: LCD reset, P1: touch reset, P2: LCD SPI chip select, P3: unused
	 * (SD card chip select on the schematic, the slot is not fitted),
	 * P4: IMU INT1, P5: IMU INT2, P6: RTC INT, P7: buzzer. The expander INT
	 * output is not connected.
	 */
	exio: gpio@20 {
		compatible = "ti,tca9554";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};

	gt911: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		irq-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&exio 1 GPIO_ACTIVE_LOW>;
	};

	qmi8658: qmi8658@6a {
		compatible = "qst,qmi8658a";
		reg = <0x6a>;
	};

	rtc0: rtc@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};
};

&lcd_cam {
	status = "okay";
	pinctrl-0 = <&lcd_cam_default>;
	pinctrl-names = "default";
};

&lcd_cam_rgb {
	status = "okay";
	width = <480>;
	height = <640>;
	pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;

	display-timings {
		compatible = "zephyr,panel-timing";
		clock-frequency = <16000000>;
		hsync-len = <10>;
		hback-porch = <70>;
		hfront-porch = <60>;
		vsync-len = <10>;
		vback-porch = <20>;
		vfront-porch = <20>;
		hsync-active = <0>;
		vsync-active = <0>;
		de-active = <1>;
		pixelclk-active = <1>;
	};
};

&dma {
	status = "okay";
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&ledc0 {
	status = "okay";
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

/* LCD panel configuration interface */
&spi2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&exio 2 GPIO_ACTIVE_LOW>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&usb_serial {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};

&wifi {
	status = "okay";
};
