# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BOARD_ESP32S3_TOUCH_LCD_2_8B_ESP32S3_PROCPU
	default 256 if BOARD_ESP32S3_TOUCH_LCD_2_8B_ESP32S3_APPCPU

config BOARD_ESP32S3_TOUCH_LCD_2_8B
	select BOARD_LATE_INIT_HOOK if BOARD_ESP32S3_TOUCH_LCD_2_8B_ESP32S3_PROCPU && \
				       DISPLAY_ESP32_LCD_CAM_RGB && PWM_LED_ESP32
